body{
  width: 100%;
}

.nav{
    display: flex;
    position: absolute;
    width: 100%;
    top:0;
    left:0;
    background-color: white;
    z-index: 2;

    
}

.top_nav_left{
    display:flex;
    
    
    margin-top:20px; 
    width: 80%;
    justify-content: flex-start;
    
}

#top_nav_right{
    display:flex;
    
    width: 20%;
    justify-content: flex-end;
    align-items: center;
    
}

#bottom_nav{
    display:flex;
    position: absolute;
    top: 50px;
    left:0;
    
    border-bottom: 1px solid #dadce0;
    
    margin-top: 40px;
    margin-bottom: 30px;
    color: #70757a;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: white;
    z-index: 2;
}

.nav_images{
    
    height: 14px;
    width: 14px;
    margin-right: 5px;
    padding-top: 0px;
    

}

.bar_lower{
    display:flex;
    
    align-items: flex-start;
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 16px;
}

.nav_label{
    display:flex;
    align-self: center;   
}

.bar_lower1{
    display:flex;
    color: #1a73e8;
    align-items: flex-start;
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
    border-bottom: 3px solid #1a73e8;
    padding-bottom: 13px;
}

#first_label{
    margin-left: 170px;
    
}

#seventh_label{
    margin-left: 80px;
}

.google_logo{
    width: 93px;
    height: 31px;
    padding-left: 25px;
    padding-top:8px;
    cursor: pointer;
}

.google_logo1{
  width: 93px;
  height: 31px;
  padding-left: 25px;
  padding-top:3px;
  cursor: pointer;
}

input{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

#buttons_id{
  display:flex;
}

.text_field{
  border: 0px;
  background: transparent;
  width: 572px;
  height: 34px;
  outline:none;
}

.text_field1{
  border: 0px;
  background: transparent;
  width: 580px;
  height: 34px;
  outline:none;
  font-size: 14px;
}

.searchbox{
  display:flex;
  border: 1px solid #dfe1e5;
  height: 40px;
  border-radius: 24px;
  margin-left: 14px;
  margin-bottom: 20px;
  padding: 5px 8px 0px 16px;
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

.searchbox1{
  display:flex;
  border: 1px solid #dfe1e5;
  height: 34px;
  border-radius: 24px;
  margin-left: 14px;
  
  padding: 0px 8px 1px 16px;
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

.searchbox-non1{
  display:flex;
  border: 1px solid #dfe1e5;
  height: 34px;
  border-radius: 24px;
  margin-left: 47px;
  
  padding: 0px 8px 1px 16px;
  
}

.searchbox-non{
  display:flex;
  border: 1px solid #dfe1e5;
  height: 40px;
  border-radius: 24px;
  margin-left: 47px;
  margin-bottom: 20px;
  padding: 5px 8px 0px 16px;
}

.magnifier{
  
  align-self: center;
  width:18px;
  height:18px;
  margin-bottom: 4px;
  margin-right: 15px;
}

.magnifier-non{
  display:none;
}

.magnifier1{
  
  align-self: center;
  width:18px;
  height:18px;
  margin-bottom: -2px;
  margin-right: 15px;
  
}

.magnifier-non1{
  display:none;
}

.button{
  align-self: center;
  width: 15px;
  height: 15px;
  margin-bottom: 4px;
  margin-right: 15px;
  cursor: pointer;
  
}

.button1{
  align-self: center;
  width: 13px;
  height: 13px;
  margin-bottom: -1px;
  cursor: pointer;
  margin-right: 12px;
  
}

.bar{
    margin-left: 3px;
    margin-right:10px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-right: 2px solid #dfe1e5;
    
}

.bar1{
  margin-left: 3px;
  margin-right:10px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-right: 2px solid #dfe1e5;
  
}

.magnifier_blue{
    align-self: center;
    width:23px;
    height:23px;
    margin-bottom: 7px;
    margin-right: 15px;
    cursor: pointer;
}

.magnifier_blue1{
  align-self: center;
  width:20px;
  height:20px;
  margin-bottom: 2px;
  margin-right: 15px;
  cursor: pointer;
}

#searchbox:hover{
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

#grid{
  height:17px; 
  width: 17px; 
  display:grid;
  grid-template-columns: 4px 4px 4px;
  grid-template-rows: 4px 4px 4px;
  column-gap: 2px;
  row-gap: 2px;
  cursor: pointer;
  margin: 23px 2px;
  padding:12px;
  border-radius: 50%;
  
}

.items{
 background-color: #8f9094;
}

#grid:hover {
 background-color: rgba(60,64,67,0.08);
}

#acount{
  height: 34px;
  width: 34px;
  margin:25px 10px;
  margin-right: 24px;
  cursor: pointer;
}

#main{
 
  position: absolute;
  top:130px;
  width:100%;
}

#time{
  margin-left:170px;
  color: #70757a;
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  margin-top: 5px;
}

.result{
  margin-top: 24px;
  margin-bottom: 30px;
  margin-left: 170px;
  width: 600px;
}

.head{
  display:flex;
  margin-bottom: 6px;
}

.head_bold{
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  color: #202124;
  cursor: pointer;
  margin-right: 3px;
}

.head_normal{
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  color: #5f6368;
  cursor: pointer;
}

.center_part{
  font-family: arial, helvetica, sans-serif;
  font-size: 20px;
  color:#1a0dab;
  cursor: pointer;
  margin-bottom: 4px;
  letter-spacing: 0.5px;
}

.center_part_after{
  font-family: arial,sans-serif;
  font-size: 20px;
  color:#609;
  cursor: pointer;
  margin-bottom: 4px;
  letter-spacing: 0.5px;
}

.center_part:hover{
  text-decoration: underline;
}

.description{
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  color:#4d5156;
  line-height: 1.5;
}

#youtube{
  height: 65px;
  width: 116px;
  margin-top: 2px;
  margin-right: 8px;
  cursor: pointer;
}

#withmovie{
  display:flex;
}

.nav_hidden{
  display: flex;
  position: fixed;
  width: 100%;
  top:-183px;
  left:0;
  padding-top: 10px;
  padding-bottom: -30px;
  z-index: 1;
  height: 46px;
  background-color:white;
  border-bottom: 1px solid #dfe1e5;
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
  
}

.top_nav_left1{
  display:flex;
   
  width: 80%;
  justify-content: flex-start;
  
}

#table{
  position:relative;
  width:652px;
  border: 1px solid #dfe1e5;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 170px;
}

#first_line{
  padding: 12px 16px;
  font-size: 20px;
}

.lines{
  cursor: pointer;
  font-size: 16px;
  padding: 9px 16px;
  border-top: 1px solid #dfe1e5;
}

.lines1{
  
  font-size: 16px;
  padding-left:  16px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.list1{
  padding-left: 22px;
  line-height: 1.5;
}

.date{
  color: #70757a;
  font-size: 12px;
  padding-left: 20px;
  margin-top:-5px;
}

.result1{
  margin-top: 24px;
  margin-bottom: 30px;
  
  width: 600px;
}

.down_list{
  display:flex;
  margin-top:-10px
} 

.down_list_k{
  color:#1a0dab;
  cursor: pointer;
  margin-left: 5px;
}

#buttonl2{
  width: 12px;
  height: 8px;
  margin-left: 350px;
}

#buttonl3{
  width:12px;
  height: 8px;
  margin-left: 311px;
}

#buttonl4{
  width:12px;
  height: 8px;
  margin-left: 284px;
}

#thl{
  display:inline;
  line-height: 1.4;
}

#date{
  display:inline;
  color: #70757a;
  font-size: 12px;
  padding-left: 5px;
  
}

#feedback{
  margin-left:755px;
  color: #70757a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: italic;
  cursor: pointer;
  margin-top: 5px;
}

#feedback:hover{
  text-decoration: underline;
}

#related{
  margin-left: 170px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#rel_res{
  display:flex;
  color:#1a0dab;
  margin-top: 10px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  
}

#list1{
  margin-left: 131px;
  list-style-type: none;
  line-height: 2.2;
  
}

#list2{
  margin-left: -10px;
  list-style-type: none;
  line-height: 2.2;
}

.lidown{
  cursor: pointer;
}

#google_down{
  display:flex;
  margin-left: 310px;
  margin-top: 20px;
  margin-bottom: 35px;
  color: #4285f4;
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  
}

#G{
  height: 32px;
  cursor: pointer;
  margin-bottom: 10px;
}

.ooo{
  height: 20px;
  margin-top: 12px;
  margin-left: 1px;
  
  margin-bottom: 12px;
  
}

#gle{
  height: 46px;
  margin-top: -5px;
  margin-left: 1px;
  cursor: pointer;
  
}

#next{
  height: 16px;
  margin-top: 8px;
  margin-left: 10px;
  
  margin-bottom: 20px;
  
}

#nex{
  margin-left: 12px;
  cursor: pointer;
}

#pre{
  margin-right: 0px;
  cursor: pointer;
}

#previous{
  height: 16px;
  margin-top: 8px;
  margin-right: -14px;
  
  margin-bottom: 20px;
  
}

#o1, #o2, #o3, #o4, #o5, #o6, #o7, #o8, #o9, #o10{
  cursor: pointer;
}

.ooo1:hover {
  text-decoration: underline;
}

#footer{
  display:flex;
  position: absolute;
  bottom:0;
  
  
  background-color: #f2f2f2;
  border-top: 1px solid #dadce0;
  width: 100%;
  height: 40px;
  
  align-items: center;
  color: rgba(0,0,0,.54);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  
}


.footer_left1{
  margin-left: 25px;
  cursor: pointer;
}


.footer_left1:hover, .use:hover {
  color:#3c4043;
}

#pre-footer{
  display: flex;
  position: absolute;
  bottom:41px;
  left:0;
  
  background-color: #f2f2f2;
  border-top: 1px solid #dadce0;
  width: 100%;
  height: 40px;
  color: rgba(0,0,0,.54);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  
}
 
 #pre-footer-word{
   padding-left: 170px;
   border-right: 2px solid #dadce0;
   padding-right: 10px;
 }

 #footer_up{
  height: 81px;
 }

 #help{
   margin-left: 170px;
 }

#dot{
  color:#70757a;
  font-size: 40px;
  margin-left: 10px;
}

#kielce{
  color:#3c4043;
  font-weight: bold;
  margin-left: 2px;
  margin-right: 3px;
}

.use{
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
}

#from{
  margin-right: 3px;
}
